* {
    font-family: Roboto;
}

body{
    margin: auto;}


div {
    display: flex;
    flex: 0 1 auto;
}
.header{
    justify-content: space-between;
    padding: 30px 250px 30px 250px
}

.header #logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}


.header .links {
    margin-left: auto;
    align-items: center;
    gap: 30px;
}
.header, .hero, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.hero {
    padding: 30px 250px 80px 250px;
    align-items: center;
}

.hero .intro {
    width: 300px;
    row-gap: 15px;
}

.hero img {
    width: 500px;
    height: 250px;
    background-color: lightgray;
    margin-left: auto;
}


.hero div{
    flex-direction: column;
    flex: 1 1 auto;

}
.hero .main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    width: fit-content;
    padding: 5px 20px 5px 20px;
    border-radius: 7px;
    border-color: transparent;
}

.header .links a, 
.hero .secondary {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.container{
    align-items: center;
    padding: 50px 250px 80px 250px;
    flex-direction: column;
    gap: 30px;
}

.container .title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.container .product {
    justify-content: center;
    width: 150px;
    gap: 50px;
}

.product div {
    flex-direction: column;
}

.product img {
    width: 150px;
    height: 150px;
    border: solid #3882f6;;
    border-radius: 20px;
}

.testimonial {
    background-color: #e5e7eb;
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    padding: 100px 350px 100px 350px;
    flex-direction: column;
    align-items: center;
}
p {
    margin: 0;
}
.testimonial #author {
    margin-left: auto;
    font-weight: bold;
    font-size: smaller;
}

.Action {
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 50px 100px 50px 100px;
    border-radius: 7px;
    border-color: transparent;
    margin: 100px 250px 100px 250px;
}

.Action div {
    flex-direction: column;
}

.Action button {
    border: solid 2px #f9faf8 ;
    background-color: transparent;
    color: #f9faf8;
    width: fit-content;
    padding: 5px 20px 5px 20px;
    border-radius: 7px;
}

.footer {
    justify-content: center;
    margin-bottom: auto;
    padding: 30px 0 30px 0;
}